/node_modules/
/build/
/awasome-capacitor-webengage/
/we-cordova
/android/.idea
package-lock.json
android/app/release/output-metadata.json
build/asset-manifest.json
build/asset-manifest.json
build/*
webengage/*
we-cap-inbox/*
we-cap-core/
we-cap-ni/
we-cordova/
we-cordova-ni/
yarn.lock
build/
